 /* μΈν’‹λ°•μ¤ css */
 .inputBox {
  width: 1256px;
  height: 100px;
  color: black;
  background-image: linear-gradient(to top, transparent, white 10%, white 90%, transparent);
  border:5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .boxTitle{
    font-weight: bold;
  }
  .boxContent{
    font-weight: bold;
    margin-left: 20px;
  }
  .boxDate{
    font-weight: bold;
    margin-left: 10px;
  }
  #titleInput{
    border: 3px solid transparent;
    background-image: linear-gradient(white,white), linear-gradient(to right,  #ffb300, #00fff4);
    background-origin: border-box;
    background-clip: content-box, border-box;

    border-radius: 10px;
    width: 250px;
    height: 25px;
    margin-left: 10px;
    color: black;
    text-align: center;
  }
  #titleInput:focus{
   outline:3px solid var(--main-color);
   border-color:transparent;
  }

  #contentInput{
    border: 3px solid transparent;
    background-image: linear-gradient(white,white), linear-gradient(to right,  #ffb300, #00fff4);
    background-origin: border-box;
    background-clip: content-box, border-box;

    border-radius: 10px;
    border-style: solid;
    border-color:transparent;
    width: 250px;
    height: 25px;
    margin: 0px 10px 0px 10px;
    text-align: center;
  }
  #contentInput:focus{
    outline:3px solid var(--main-color);
    border-color:transparent;
   }
  #dateInput{
    border: 3px solid transparent;
    background-image: linear-gradient(white,white), linear-gradient(to right,  #ffb300, #00fff4);
    background-origin: border-box;
    background-clip: content-box, border-box;
    
    border-radius: 10px;
    border-style: solid;
    border-color:transparent;
    width: 250px;
    height: 25px;
    margin: 0px 10px 0px 10px;
    text-align: center;
  }
  #dateInput:focus{
    outline:3px solid var(--main-color);
    border-color:transparent;
   }
  
  #addBtn{
    width: 100px;
    height: 35px;
    background-image: linear-gradient(to right,  #ffb300, #00fff4);
    color: white;
    border:solid var(--main-color);
    border-radius: 10px;
    margin-left: 30px;
    font-weight: bold;
  }
  #addBtn:hover{
    background-image: linear-gradient(to right,  #c78c00, #00b9af);
    border: solid var(--main-color);
  }
